<div class="container-fluid px-4 mt-4">
    <div *ngIf="users; else noUserFound">
        <div *ngFor="let user of users">
            <div [ngSwitch]="user.Gender">
                <div *ngSwitchCase="'M'">
                    <p><b>User Name:</b> {{user.Fname}}</p>
                    <p><b>Age:</b> {{user.Age}}</p>
                </div>
                <div *ngSwitchCase="'F'">
                    <p><b>User Name:</b> {{user.Fname}}</p>
                    <p><b>Age:</b> {{user.Age}}</p>
                </div>
            </div>
        </div>
    </div>
    
    <ng-template #noUserFound>
        No Users Found
    </ng-template>
    <br>
    <div>
        Date : {{Day | date:'dd/MM/yyyy'}}
    </div>

    <div>
        Number : {{Num | number }}
    </div>

    <div>
        Percentage : {{Percentage | percent}}
    </div>

    <div>
        Currency : {{Num | currency}}
    </div>

    <div>
        JSON : {{Obj | json}}
    </div>

        
    
</div>
